.page1{
    background-image: url('wall.jpg');
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
}
.heading{
    background-color: grey;
    text-align: center;
    padding: 5%;
}
.middle{
    display: flex;
    flex-direction: row;
}
.list{
    background-color: silver;
    width: 15%;
    padding-left: 1%;
}
