.Heading {
    background-color: green ;
        height: 100px;
        width: 300px;
        text-align: center;
        margin: 10px 200px;

}
.lists {
        background-color:silver ;
        height: 300px;
        width: 150px;
        }

        div:hover{
            background-color: greenyellow;
            padding: 50px ;
        }
        
        
        